[versions]
# Plone 4.2 only (overridden in Plone 4.3)
collective.js.jqueryui = 1.8.16.9

[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

package-name = sc.blog
package-extras = [test]
package-min-coverage = 100
test-eggs = Pillow

parts +=
    createcoverage
    coverage-sh

[code-analysis]
directory = ${buildout:directory}/src/sc/blog
pre-commit-hook = False
flake8-ignore = E501
debug-statements = True

[versions]
# keep RF/SL stuff up to date to avoid random failures
plone.app.robotframework = 0.6.4
robotframework = 2.8.1
robotframework-selenium2library = 1.4.0
robotsuite = 1.4.0
selenium = 2.37.2
